@use 'variables' as v;

// Media Queries
@mixin cellphone {
    @media (min-width: v.$celphone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: v.$laptop) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin tv {
    @media (min-width: v.$tv) {
        @content;
    }
}

// CSS Grid
@mixin grid($columns, $spacing) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $spacing;
}